[Desktop Entry]
Categories=GTK;AudioVideo
Comment=Per editar els vostres vídeos
Comment[ca]=Per editar els vostres vídeos
Exec[$e]=avidemux2_gtk
GenericName=Video Editor (GTK+)
GenericName[ca]=Editor de vídeo (GTK+)
Icon=avidemux
MimeType=application/x-shockwave-flash;video/flv;video/mpeg;video/x-mpeg
Name=Avidemux (GTK+)
Name[ca]=Avidemux (GTK+)
Path[$e]=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=avidemux2_gtk
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
